cmake-*/
./bazel-*/
prebuilts/
pkg/
.repo/
build-cmake-pi/
envoy
go
src/backward
src/boringssl/
src/cares/cares
src/yaml-cpp/
src/xxhash/
src/tclap/
src/spdlog/
src/rapidjson/
src/protobuf/
src/nghttp2/src/
src/mixerclient/
src/lightstep/
src/libevent/src/
src/http-parser/
src/grpc_transcoding/
src/googleapis/src/
src/fmt/
