[project]
	description = Experimental build for istio, with support for repo and cmake.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Costin Manolache (costinm)
[access "refs/for/refs/*"]
	read = group user/Costin Manolache (costinm)
	push = group user/Costin Manolache (costinm)
	label-Code-Review = -2..+2 group user/Costin Manolache (costinm)
	label-Verified = -1..+1 group user/Costin Manolache (costinm)
	rebase = group user/Costin Manolache (costinm)
	removeReviewer = group user/Costin Manolache (costinm)
	submit = group user/Costin Manolache (costinm)
[access "refs/heads/*"]
	read = group user/Costin Manolache (costinm)
	create = group user/Costin Manolache (costinm)
	push = +force group user/Costin Manolache (costinm)
	pushMerge = group user/Costin Manolache (costinm)
[access "refs/tags/*"]
	push = group user/Costin Manolache (costinm)
	push = +force group user/Costin Manolache (costinm)
